.line-clamp-1 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.line-clamp-4 {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.line-clamp-1,
.line-clamp-2,
.line-clamp-3,
.line-clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.footer__developer-link {
  text-decoration: none;
  color: var(--bs-white);
}

.footer__developer-link:hover {
  text-decoration: underline;
}

.hero-banner__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0;
  padding: 0;
}

.custom-bullet {
  position: relative;
  padding-left: 1.25rem;
}

.custom-bullet::before {
  content: "•";
  color: #007bff;
  font-size: 1.75rem;
  position: absolute;
  left: 0;
  top: -8px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 1.75rem !important;
  height: 1.75rem !important;
  transition: transform 0.3s ease-in-out;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
}

.swiper-button-next-custom,
.swiper-button-prev-custom {
  width: 2.5rem;
  height: 2.5rem;
  color: #007bff;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.swiper-button-next-custom:hover,
.swiper-button-prev-custom:hover {
  background-color: rgb(230, 230, 230);
}

.scroll-to-top-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
  background-color: #007bff;
  color: white;
  padding: 6px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 50;
}

.scroll-to-top-button:hover {
  background-color: black;
}

.scroll-to-top-button .icon {
  width: 2rem;
  height: 2rem;
}

@media (min-width: 1024px) {
  .scroll-to-top-button {
    bottom: 24px;
    right: 24px;
  }
}

.user-menu {
  animation: fadeIn 0.15s ease-in-out;
}

.user-menu__button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: none;
  padding-block: 0.4rem;
  color: white;
  background-color: transparent;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease-in-out;
}

.user-menu__button:hover {
  background-color: #c4c3c346;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.is-loading-pulse {
  animation: pulse-effect 1.5s infinite ease-in-out;
}

@keyframes pulse-effect {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
