.carousel-control-prev,
.carousel-control-next {
  width: 8%;
  opacity: 0.7;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}

.carousel-indicators [data-bs-target] {
  margin: 0 6px -14px;
}

.carousel-indicators .active {
  background-color: white;
  transform: scale(1.1);
}
